@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root {
  --primary-color: #0c0e16;
  --secondary-color: #7e88c3;
  --white-color: #fff;
  --primary-bcg: #f8f8fb;
  --main-bcg: #fff;
  --secondary-bcg: #373b53;
  --ternary-bcg: #f9fafe;
  --border-color: #dfe3fa;
  --red-color: #ec5757;
  --purple-color: #7c5dfa;
  --orange-color: #ff8f00;
  --green-color: #33d69f;
  --special-color: #888eb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Spartan', sans-serif;
  background: var(--primary-bcg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 20px;
  letter-spacing: -0.63px;
  color: var(--primary-color);
}

h3 {
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 24px;
  color: var(--primary-color);
}

h4 {
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 15px;
  color: var(--primary-color);
}

p {
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 15px;
  color: var(--secondary-color);
}

button {
  cursor: pointer;
  border: 0;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
}

.sidebar-btn {
  height: 48px;
  width: fit-content;
  padding: 0 25px;
  border-radius: 24px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
