@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --primary-color: #0c0e16;
  --secondary-color: #7e88c3;
  --white-color: #fff;
  --primary-bcg: #f8f8fb;
  --main-bcg: #fff;
  --secondary-bcg: #373b53;
  --ternary-bcg: #f9fafe;
  --red-color: #ec5757;
  --purple-color: #7c5dfa;
  --orange-color: #ff8f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  background: var(--primary-bcg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 20px;
  letter-spacing: -0.63px;
  color: var(--primary-color);
}

h3 {
}

h4 {
}

p {
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 15px;
}

button {
  cursor: pointer;
  border: 0;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
}
