:root {
  --primary-color: #0c0e16;
  --secondary-color: #7e88c3;
  --white-color: #fff;
  --primary-bcg: #f8f8fb;
  --secondary-bcg: #373b53;
  --ternary-bcg: #f9fafe;
  --red-color: #ec5757;
  --purple-color: #7c5dfa;
  --orange-color: #ff8f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
